body{
    background-color: #fff9ff;
}

#container{
    text-align: center;
    padding-top: 130px;
}

#result{
    text-align: center;
    color: grey;
}

#score{
    text-align: center;
    padding-top: 250px;
    float: right;
    
}